.wrapper {
  background: rgba($color: var(--titan-black), $alpha: 35%);
  .content {
    position: relative;
    gap: 16px;
    padding: 0;
    .top {
      padding: 16px 48px;
      justify-content: flex-start;
      gap: 16px;
      width: 100%;
      &.presets-wrapper {
        padding: 16px 0;
      }
    }
    .title {
      font-family: var(--font-family-secondary);
      font-weight: 600;
      font-size: 24px;
      color: var(--titan-black);
    }

    .submit-wrapper {
      background: #fff;
      box-shadow: 0 -4px 4px rgb(0 0 0 / 10%);
      width: 100%;
      padding: 10px 48px;
      justify-content: flex-end;
      gap: 10px;
      .action {
        width: 113px;
      }
    }
  }
}
