.wrapper {
  position: relative;
  gap: 8px;
  .text {
    font-family: var(--font-family-tertiary);
    font-weight: 600;
    font-size: 16px;
    color: var(--titan-lighter-grey);
  }
  .steps {
    gap: 7px;
    .step {
      width: 66px;
      height: 2px;
      background: var(--titan-lighter-grey);
      &.clickable {
        cursor: pointer;
      }
      &.active {
        background: var(--titan-accent-color);
      }
    }
  }
}
