.wrapper {
  gap: 30px;
  align-items: stretch;

  .image {
    width: 220px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
    }
    .action {
      position: absolute;
      bottom: 0;
      border-radius: 0;
      width: 100%;
    }
  }
  .list {
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
    .preset {
      flex: 0 0 calc(100% / 2 - 10px / 2);
      border-radius: 5px;
      .inner {
        gap: 10px;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
        padding: 6px 12px;
        padding-right: 0;
        cursor: pointer;
        position: relative;
        .tick {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-50%, -50%);
        }
        .circle {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        .text {
          align-items: flex-start;
          gap: 4px;
          .name {
            font-weight: 600;
            font-size: 14px;
            color: var(--titan-black);
          }
          .info {
            font-weight: 500;
            font-size: 12px;
            color: var(--titan-dark-grey);
          }
        }
      }

      &.active {
        background: var(--titan-accent-color-tint);
        .inner {
          .text {
            .name {
              color: var(--titan-accent-color);
            }
          }
        }
      }
    }
  }
}
